.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}

.login > div {
    display: flex;
    flex-direction: column;
}

.login > input {
    width: 300px;
    background-color:#2eb1f4;
    color: #eff2f5;
    font-weight: 800;
    bordeR: none;
    cursor: pointer;
    padding: 10px;
}

.login > input:hover {
    background-color: #e4e4e4;
    color: #2eb1f4;
}